<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.source.code.activity"
    android:versionCode="4"
    android:versionName="SCOS4.0" >

    <!-- 写好的activity,一定要注册 -->
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" >
    </uses-sdk>

    <permission
        android:name="scos.permission.ACCESSSCOS"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.source.code.activity.SCOSEntry"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:permission="scos.permission.ACCESSSCOS" -->
        <activity
            android:name="es.source.code.activity.MainScreen"
            android:label="@string/dish_list" >
        </activity>
        <activity
            android:name="es.source.code.activity.LoginOrRegister"
            android:label="@string/loginorreg" >
        </activity>
        <activity android:name="es.source.code.activity.FoodView" >
        </activity>
        <activity android:name="es.source.code.activity.FoodOrderView" >
        </activity>
        <activity android:name="es.source.code.activity.FoodDetailed" >
        </activity>
        <activity android:name="es.source.code.activity.SCOSHelper" >
        </activity>
        <!-- 设置服务,设置process -->
        <service
            android:name="es.source.code.service.ServerObserverService"
            android:process="es.source.code.observerService" >
        </service>
        <service android:name="es.source.code.service.UpdateService" >
        </service>
        <service android:name="es.source.code.service.CancelNotification" >
        </service>

        <receiver android:name="es.source.code.br.DeviceStartedListener" >

            <!-- 设置过滤器,选择开机时触发 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>